In [6]:
import pandas as pd

by = pd.read_csv('b_y.csv',names=["y_label"])
print(by)
print(by.columns)

    y_label
0         1
1         0
2         1
3         0
4         1
5         0
6         1
7         0
8         1
9         0
10        1
11        0
12        1
13        0
14        1
15        0
16        1
17        0
18        1
19        0
20        1
21        0
22        1
23        0
24        1
25        0
26        1
27        0
28        1
29        0
30        1
31        0
32        1
33        0
34        1
35        0
36        1
37        0
38        1
39        0
40        1
41        0
42        1
43        0
44        1
45        0
46        1
47        0
48        1
49        0
Index(['y_label'], dtype='object')

In [16]:
print(by.iloc[1,0])
print(len(by))

0
50

In [19]:
# 把0换成y（圆），1改成f（方）
for i in range(len(by)):
    if by.iloc[i,0]==0:
        by.iloc[i,0] = 'y'
    else:
        by.iloc[i,0] = 'f'
print(by)

   y_label
0        f
1        y
2        f
3        y
4        f
5        y
6        f
7        y
8        f
9        y
10       f
11       y
12       f
13       y
14       f
15       y
16       f
17       y
18       f
19       y
20       f
21       y
22       f
23       y
24       f
25       y
26       f
27       y
28       f
29       y
30       f
31       y
32       f
33       y
34       f
35       y
36       f
37       y
38       f
39       y
40       f
41       y
42       f
43       y
44       f
45       y
46       f
47       y
48       f
49       y

In [20]:
by_onehot = pd.get_dummies(by,prefix=by.columns)
print(by_onehot)

    y_label_f  y_label_y
0           1          0
1           0          1
2           1          0
3           0          1
4           1          0
5           0          1
6           1          0
7           0          1
8           1          0
9           0          1
10          1          0
11          0          1
12          1          0
13          0          1
14          1          0
15          0          1
16          1          0
17          0          1
18          1          0
19          0          1
20          1          0
21          0          1
22          1          0
23          0          1
24          1          0
25          0          1
26          1          0
27          0          1
28          1          0
29          0          1
30          1          0
31          0          1
32          1          0
33          0          1
34          1          0
35          0          1
36          1          0
37          0          1
38          1          0
39          0          1
40          1          0
41          0          1
42          1          0
43          0          1
44          1          0
45          0          1
46          1          0
47          0          1
48          1          0
49          0          1